<?php

$config = array(
    'dbAdapter' => 'DbSync_Table_DbAdapter_Mysql',
    'fileAdapter' => 'DbSync_Table_FileAdapter_SfYaml',
    'dbParams' => array(
        'host'     => '',
        'dbname'   => '',
        'username' => '',
        'password' => '',
        'options'  => array()
    ),
    'path' => 'tables',
    'diffprog' => 'diff'
);

require_once 'check.php';

require_once 'SymfonyComponents/YAML/sfYaml.php';

require_once 'DbSync/Table/AbstractTable.php';
require_once 'DbSync/Console.php';
require_once 'DbSync/Controller/AbstractController.php';

require_once 'DbSync/Table/DbAdapter/AdapterInterface.php';
require_once 'DbSync/Table/DbAdapter/Mysql.php';