<?php

$config = array(
    'db' => array(
        'adapter' => 'mysql',
        'params' => array(
            'host'     => '',
            'dbname'   => '',
            'username' => '',
            'password' => '',
            'options'  => array()
        ),
    ),
    'path' => 'tables',
    'diffprog' => 'diff'
);

require_once 'check.php';

require_once 'Zend/Config/Yaml.php';
require_once 'Zend/Config/Writer/Yaml.php';

require_once 'DbSync/Table.php';
require_once 'DbSync/Console.php';
require_once 'DbSync/Controller.php';

require_once 'DbSync/Table/DbAdapter.php';
require_once 'DbSync/Table/DbAdapter/AdapterInterface.php';
require_once 'DbSync/Table/DbAdapter/Mysql.php';