<?php
/**
 * DbSync
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://code.google.com/p/phplizard/wiki/License
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to maks.slesarenko@gmail.com so we can send you a copy immediately.
 *
 * @license  http://code.google.com/p/php-dbsync/wiki/License   New BSD License
 * @version  $Id$
 */

/**
 * Config
 *
 * @version $Id$
 */
$config = array(
    'dbAdapter' => 'DbSync_Table_DbAdapter_Mysql',
    'fileAdapter' => 'DbSync_Table_FileAdapter_SfYaml',
    'dbParams' => array(
        'host'     => '',
        'dbname'   => '',
        'username' => '',
        'password' => '',
        'options'  => array()
    ),
    'path' => 'tables',
    'diffprog' => 'diff'
);

/**
 * Add check script
 */
require_once 'check.php';

/**
 * File adapter classes
 */
require_once 'SymfonyComponents/YAML/sfYaml.php';
require_once 'DbSync/Table/FileAdapter/AdapterInterface.php';
require_once 'DbSync/Table/FileAdapter/SfYaml.php';

/**
 * Database adapter classes
 */
require_once 'DbSync/Table/DbAdapter/AdapterInterface.php';
require_once 'DbSync/Table/DbAdapter/Mysql.php';

/**
 * App classes
 */
require_once 'DbSync/Table/AbstractTable.php';
require_once 'DbSync/Console.php';
require_once 'DbSync/Controller/AbstractController.php';
