path        = "sync"

diffprog    = "diff"

[adapters]
file        = "DbSync_FileAdapter_SfYaml"
db          = "DbSync_DbAdapter_Pdo_Mysql"

[connection]
host     = ""
dbname   = ""
username = ""
password = ""
options  = ""